body{
background-image: url('back.jpg');
background-repeat: repeat;
/*font-family: Tahoma;*/
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
color: dcdcdc;
margin: 0px;
margin-bottom:  2.15em;
}

.popupoffset { margin: 1.15em; }

div.section{
background-color: #454A54;
padding: 5px;
width: 80px;
}

div.offset{
margin-left: 100px;
margin-top: 60px;
max-width: 700px;
line-height: 1.35em;
}

font.header{
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

#loadingblock, #loading, .bulkajaxsuccess {
    display: none;
}

a:link {color: #0066cc;}
a:hover {color: #0066cc;}
a:active {color: #0066cc}
a:visited {color: #0066cc;}

/* ----------------- listamatic menu -----------------  */
#navcontainer ul
{
padding-bottom: 6px;
padding-top: 5px;
padding-left: 100px;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
background-color: #454A54;
color: white;
max-width: 100%;
font-family: Tahoma,Helvetica,sans-serif;
line-height: 18px; /* fixes Firefox 0.9.3 */

}

#navcontainer ul li
{
display: inline-block;
padding-left: 0;
padding-right: 0;
/*padding-bottom: 5px;*/
padding-top: 0px;
text-align: center;
/* matches link padding except for left and right */
}

#navcontainer ul li a
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #454A54;
text-decoration: none;
}

#navcontainer  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #1f1c1c;
text-decoration: none;
}

#navcontainer ul li a:hover
{
background-color: #1f1c1c;
color: white;
}


.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.greentr{
    background-color: #336633;
}
.oddtr
{
	xbackground-color:#EFF1F1;
}
.eventr
{
	xbackground-color:#F8F8F8;
}
.trover
{
	background-color: #0099CC;
}
.trclick, .redtr
{
	background-color: #cc0000;
}

.floatleftorblock { display: inline; float: left; }

@media screen and (max-width: 700px) {
    textarea { max-width: 90% !important; }
    div.offset { margin-left: 1em !important;  }
    .mediumtext { max-width:90% !important;  }
    body{ margin-bottom: 3em; }
    .column { float: none !important; }
    .row { width: 90% !important; }
    #navcontainer ul { padding-left: 0px !important; }
    #navcontainer li { margin-bottom: 0.35em; }
    .floatleftorblock { display: block; float: none; }
}
